<!DOCTYPE html>
<html lang="en">

<head>
    <title>HyperDev Blog</title>
    <meta name="description" content="A blog focused on HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main role="main">
        <header role="banner">
            <a href="/"><h1>HyperDev Blog</h1></a>        
        </header>
        <section role="region">
            <div class="row">
                <div class="col-8">
                    <h2>Latest Posts</h2>
                    <div></div>
                </div>
                <div class="col-4">
                    <h3>Manage Blog</h3>
                    <ul>
                        <li><button>Create Post</button></li>
                        <li><button>Edit Post</button></li>
                        <li><button>Delete Post</button></li>
                        <li><button>View All</button></li>
                    </ul>
                    <div class="manage-actions">

                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/client.js"></script>
</body>

</html>